body{
    margin: 0;
    background-color: black;
    overflow-x: hidden;
}

::selection{
    color: black;
    background-color: white;
}

#background{
    background-image: url(background.jpg);
    left: 0;
    top: 0;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-size: cover;
    transition: 1.5s cubic-bezier(0.15, 0, 0, 1);
    transform: translateY(100px);
    opacity: 0.9;
    margin: 0;
}

#backgroundFade{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgb(21, 21, 21);
    opacity: 0;
}

#cover{
    top: 0;
    left: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgb(21, 21, 21);
    transition: 1.5s cubic-bezier(0.1, 0, 0, 1);
    transform: translateY(0px);
    z-index: 4;
}

#logo{
    z-index: 1;
    top: 0;
    position: absolute;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    width: 300px;
}
#logo img{
    opacity: 0;
    transform: translateY(50px) scale(0.3);
    transition: 0.5s cubic-bezier(0.15, 0, 0, 1);
}

#hlava{
    width: 100%;
    height: 100vh;
    top: 0;
    position: relative;
    margin: 0;
}

#sign{
    padding-top: 30px;
    position: absolute;
    height: 50px;
    top: 0;
    right: 0;
    width: 500px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    font-family: "Poppins", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    font-weight: normal;
}

#sign p{
    transition: 0.2s;
    transform: translateY(50px);
    transition: 0.8 cubic-bezier(0.15, 0, 0, 1);
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-color: transparent;
    opacity: 0;
    font-size: 17px;
}

#sign p:hover{
    cursor: pointer;
    text-underline-offset: 5px;
    text-decoration-color: white;
}

#menu{
    width: 25px;
    height: 7px;
    border-top: solid white 2px;
    border-bottom: solid white 2px;
    transition: 0.2s;
    transform: translateY(50px);
    opacity: 0;
    z-index: 3;
}

#menu:hover{
    cursor: pointer;
    height: 15px;
    border-top: solid white 2px;
    border-bottom: solid white 2px;
}

#nadpis{
    font-style: italic;
    transition: 0.8s;
    letter-spacing: 15px;
    color: white;
    font-family: "Montserrat", Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    font-size: 110px;
    position: absolute;
    bottom: 350px;
    left: 50px;
    opacity: 0;
    transform: translateY(100px);
    line-height: 90px;
}

#nadpisPodtext{
    font-size: 20px;
    bottom: 200px;
    position: absolute;
    color: white;
    font-family: "Montserrat", Verdana, Geneva, Tahoma, sans-serif;
    width: 500px;
    line-height: 30px;
    left: 50px;
    opacity: 0;
    transform: translateY(50px);
    transition: 0.5s;
}

#autor{
    width: 95vw;
    height: 140px;
    bottom: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#line0{
    background-color: white;
    top: 0;
    height: 1px;
    width: 0%;
    opacity: 0.5;
    left: 0;
    transition: 2.5s cubic-bezier(0.1, 0, 0, 1);
}

#kulin{
    color: white;
    font-family: "Montserrat", Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 10px;
    margin-top: 40px;
    opacity: 0;
    transform: translateY(-50px);
    transition: 0.5s;
    letter-spacing: 2px;
}

#vyzvy{
    width: 500px;
    height: 300px;
    right: 5vw;
    position: absolute;
    bottom: 400px;
}

#line1{
    background-color: white;
    top: 0;
    height: 1px;
    width: 0%;
    opacity: 0.5;
    left: 0;
    transition: 2.5s cubic-bezier(0.1, 0, 0, 1);
}

#vyzvyNadpis{
    color: white;
    font-family: "Montserrat", Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-weight: 500;
    margin-left: 10px;
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    opacity: 0;
    transform: translateY(-25px);
    transition: 0.5s;
}

.vyzvy{
    color: white;
    font-family: "Montserrat", Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    margin-left: 10px;
    font-size: 20px;
    margin-top: 5px;
}

#vyzva0{
    opacity: 0;
    transform: translateX(-50px);
    transition: 0.5s;
}

#vyzva1{
    opacity: 0;
    transform: translateX(-50px);
    transition: 0.5s;
}

#vyzva2{
    opacity: 0;
    transform: translateX(-50px);
    transition: 0.5s;
}

#vyzva3{
    opacity: 0;
    transform: translateX(-50px);
    transition: 0.5s;
}

#vyzva4{
    opacity: 0;
    transform: translateX(-50px);
    transition: 0.5s;
}

#checkboxes{
    position: absolute;
    right: 0;
    top: 95px;
    width: 15px;
    height: 190px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 29px;
}

#checkboxes div{
    opacity: 0.8;
    border: solid white 1px;
    opacity: 0;
    transform: translateX(50px);
    transition: 0.5s;
}

#premium,#regular{
    position: absolute;
    bottom: -200px;
    border-radius: 30px;
    height: 50px;
    width: 170px;
    font-family: "Montserrat", Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 25px;
    letter-spacing: 3px;
    border: solid white 2px;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(25px);
}

#premium{
    left: 20px;
    background-color: transparent;
    color: white;
}

#regular{
    left: 250px;
    color: black;
}

#premium:hover{
    color: black;
    background-color: white;
    letter-spacing: 5px;
}

#regular:hover{
    color: white;
    background-color: rgb(40, 40, 40);
    letter-spacing: 5px;
}

#gallery{
    position: relative;
    width: 100%;
    height: 500px;
}

#slideTrack,#slideTrack2{
    overflow: hidden;
    width: auto;
    height: 200px;
    display: grid;
    grid-template-columns: repeat(16, 350px);
    grid-template-rows: 200px;
    grid-column-gap: 30px;
    grid-row-gap: 0px;
    opacity: 0;
    transition: 1s;
}

#slideTrack img{
    width: 100%;
    height: 100%;
    animation: imgMovingLeft infinite 40s linear;
}

@keyframes imgMovingLeft {
    0%{
        transform: translateX(0px);
    }100%{
        transform: translateX(-3040px);
    }
}

#slideTrack2{
    margin-top: 30px;
    transform: translateX(-300px);
}

#slideTrack{
    transform: translateX(300px);
}

#slideTrack2 img{
    width: 100%;
    height: 100%;
    animation: imgMovingRight infinite 40s linear;
}

@keyframes imgMovingRight {
    0%{
        transform: translateX(-3040px);
    }100%{
        transform: translateX(0px);
    }
}

#line2{
    position: absolute;
    bottom: 0;
    width: 0%;
    height: 1px;
    left: 2.5%;
    opacity: 0.5;
    background-color: white;
    transition: 1s;
    transition: 2.5s cubic-bezier(0.1, 0, 0, 1);
}

#loader{
    z-index: 5;
    position: fixed;
    left: 0;
    top: 0;
    height: 5px;
    width: 0%;
    background-color: yellow;
}

#realMenu{
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 40%;
    background-color: rgb(21, 21, 21);
    transition: 1s cubic-bezier(0.1, 0, 0, 1);
    overflow: hidden;
}

#realMenu h2{
    color: white;
    font-family: "Orbitron", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    margin-left: 20px;
    margin-top: 20px;
    transition: 0.5s cubic-bezier(0.1, 0, 0.2, 1);
}

#realMenu p{
    color: white;
    font-family: "Montserrat", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    margin-left: 50px;
    letter-spacing: 5px;
    margin-bottom: 40px;
    margin-top: 60px;
    transition: 0.5s cubic-bezier(0.1, 0, 0.2, 1);
}

#info{
    width: 100%;
    position: relative;
    height: 1100px;
    margin-top: 0px;
}

#onastext{
    color: white;
    left: 100px;
    position: absolute;
    font-family: "Montserrat", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    opacity: 0;
    transition: 2s cubic-bezier(0.1, 0, 0, 1);
    transform: translateX(-200px);
    margin-top: 30px;
    letter-spacing: 2px;
}

#poster{
    position: relative;
    overflow: hidden;
    transform: translateY(0px); 
}

#onas{
    margin-top: 100px;
    position: absolute;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 150px;
    grid-row-gap: 0px;
    width: 90%;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
}

#plagat{
    width: 100%;
    height: 120%;
    position: absolute;
    transform: translateY(0px);
}

#posterCover{
    transition: 1s;
    width: 100%;
    height: 100%;
    background-color: rgb(21, 21, 21);
    position: absolute;
    opacity: 1;
}

#yapping{
    color: white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    transition: 2s cubic-bezier(0.1, 0, 0, 1);
}

#yapping h2{
    font-size: 50px;
    letter-spacing: 4px;
    margin-bottom: 0;
    font-family: "Orbitron", Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    opacity: 0;
    transform: translateX(-200px);
    transition: 1s cubic-bezier(0.1, 0, 0, 1);
}

#yapping p{
    font-size: 20px;
    letter-spacing: 4px;
    margin-bottom: 0;
    font-family: "Montserrat", Verdana, Geneva, Tahoma, sans-serif;
    line-height: 30px;
    opacity: 0;
    transform: translateX(-200px) translateY(0px);
    transition: 1s cubic-bezier(0.1, 0, 0, 1);
}

#team{
    width: 100%;
    height: 2000px;
    position: relative;
    margin-top: 150px;
}

#line3{
    position: absolute;
    width: 0%;
    left: 2.5%;
    height: 1px;
    background-color: white;
    opacity: 0.5;
    top: 0;
    transition: 2.5s cubic-bezier(0.1, 0, 0, 1);
}

#teamtext{
    color: white;
    left: 100px;
    position: absolute;
    font-family: "Montserrat", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    opacity: 0;
    transition: 2s cubic-bezier(0.1, 0, 0, 1);
    transform: translateY(-50px);
    margin-top: 30px;
    letter-spacing: 2px;
}

#profily{
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

#sulin,#delfin,#bajdinec,#bartuk{
    position: relative;
    overflow: hidden;
}

#ksichtSulin{
    left: 150px;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(-600px) rotate(-90deg);
    overflow: hidden;
    background-image: url(profiles/sulin.jpg);
    background-size: 90%;
    background-position: 20px 10px;
    transition: 1s cubic-bezier(0.1, 0, 0, 1);
    filter: blur(20px);
}

#ksichtDelfin{
    left: 150px;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(-600px) rotate(-90deg);
    overflow: hidden;
    background-image: url(profiles/delfin.png);
    background-size: 90%;
    background-position: 20px 10px;
    transition: 1s cubic-bezier(0.1, 0, 0, 1);
    filter: blur(20px);
}

#ksichtBajdinec{
    right: 150px;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(600px) rotate(90deg);
    overflow: hidden;
    background-image: url(profiles/bajdinec.png);
    background-size: 90%;
    background-position: 20px 10px;
    transition: 1s cubic-bezier(0.1, 0, 0, 1);
    filter: blur(20px);
}

#ksichtBartuk{
    right: 150px;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(600px) rotate(90deg);
    overflow: hidden;
    background-image: url(profiles/bartuk.png);
    background-size: 90%;
    background-position: 20px 10px;
    transition: 1s cubic-bezier(0.1, 0, 0, 1);
    filter: blur(20px);
}

#sulin h2,#delfin h2{
    color: white;
    left: 40%;
    top: 30%;
    position: absolute;
    font-family: "Montserrat", Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-size: 50px;
}

#sulin p,#delfin p{
    width: 50%;
    color: white;
    left: 40%;
    top: 50%;
    position: absolute;
    font-family: "Montserrat", Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-size: 20px;
}

#bajdinec h2,#bartuk h2{
    text-align: right;
    color: white;
    right: 40%;
    top: 30%;
    position: absolute;
    font-family: "Montserrat", Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-size: 50px;
}

#bajdinec p,#bartuk p{
    text-align: right;
    width: 50%;
    color: white;
    right: 40%;
    top: 50%;
    position: absolute;
    font-family: "Montserrat", Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-size: 20px;
}

#pata{
    position: relative;
    width: 100%;
    height: 200px;
    margin-top: 50px;
    overflow: hidden;
}

#line4{
    position: absolute;
    top: 0;
    width: 0%;
    height: 1px;
    left: 2.5%;
    background-color: white;
    opacity: 0.5;
    transition: 2.5s cubic-bezier(0.1, 0, 0, 1);
}

#koniec{
    position: absolute;
    left: 50%;
    top: 120%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: "Montserrat", Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 1px;
    opacity: 0;
    transition: 1s cubic-bezier(0.1, 0, 0, 1);
}

/* Hide the scrollbar while keeping scrolling enabled */
::-webkit-scrollbar {
    display: none; /* Completely hides the scrollbar */
}

/* Ensure the element can still be scrolled */
body {
    overflow: auto; /* Enables scrolling */
}

/* Hide the scrollbar while allowing scrolling */
* {
    scrollbar-width: none; /* Firefox-specific */
}

body {
    -ms-overflow-style: none; /* Hides scrollbar in IE/Edge */
}
